.post {
  border-radius: 10px;
  margin-top: 1.5rem;
}

.card .post-header,
.card .post-footer {
  background: var(--light-maroon) !important;
}

.card .post-body {
  border: 0.5px solid var(--lighter-maroon);
}

.card .post-footer {
  padding: 0.25rem 0;
}

.post-media {
  max-width: 80%;
  max-height: 80%;
}

.post-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
