nav {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
}

.navbar {
  background: whitesmoke;
}
.navbar a,
#change-password-text {
  color: var(--dark-gray);
}

.navbar a:hover,
.nav-item:hover,
#change-password-text:hover {
  color: var(--light-maroon);
}

.nav-items {
  display: flex;
}
