.comment {
  border: 1px solid var(--lightest-maroon);
  margin-top: 1.5rem;
  border-radius: 5px;
}
.comment .content-details-header {
  padding: 0.5rem 1.25rem 0.5rem 0.5rem;
  background: var(--lighter-maroon);
  border-radius: 4px 4px 0 0;
}

.comment-text {
  padding: 0.5rem;
}
