.btn {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
}

.btn--primary {
  background: var(--my-primary) !important;
  color: whitesmoke;
}

.btn--outline {
  background: transparent;
  color: whitesmoke;
  border: 1px solid whitesmoke;
}

.btn--outline:hover {
  background: whitesmoke;
  color: var(--dark-gray);
}

.btn--rounded {
  border-radius: 40px;
}

.btn--xsmall {
  padding: 0.25rem 0.5rem;
}

.btn--small {
  font-size: 1rem;
}

.btn--medium {
  font-size: 1.2rem;
}

.btn--wide {
  display: block;
  width: 100%;
}

.btn--primary:hover {
  background: var(--hover-primary) !important;
  color: whitesmoke;
}

.btn--whitesmoke {
  background: whitesmoke;
}

.btn--whitesmoke:hover {
  background: var(--hover--whitesmoke);
}
