.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  z-index: 100;
  position: absolute;
  right: 5px;
  background: whitesmoke;
  border: 1px solid var(--dark-gray);
}

.dropdown-content button:hover {
  background: var(--hover-gray) !important;
}

.dropdown-content button {
  width: 100%;
  height: 100%;
}

.show {
  display: block;
}
