:root {
  --dark-gray: #2c2c2c;
  --text-muted: #ddcaca;
  --light-maroon: #800000cf;
  --lighter-maroon: #800000be;
  --lightest-maroon: #8000008c;
  --hover-white: rgba(245, 245, 245, 0.9);
  --hover-gray: rgba(211, 211, 211, 0.5);
  --hover-gray-light: rgba(211, 211, 211, 0.25);
  --my-primary: var(--lighter-maroon);
  --hover-primary: var(--light-maroon);
  --hover--whitesmoke: rgba(245, 245, 245, 0.9);
}

/* General */

#root {
  background: whitesmoke;
}

main {
  margin: 20px 0 5px;
  min-height: 100vh;
}

footer {
  color: var(--dark-gray);
  min-height: 20vh;
}

.with-alert {
  width: 100%;
}

.text-box {
  width: 100%;
}

.profile-pic {
  margin-right: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}

.card .post-header,
.card .create-post-header {
  padding: 0.5rem 1.25rem 0.5rem 0.5rem;
}

.username {
  font-weight: 700;
  color: whitesmoke;
}

.date {
  font-size: 90%;
  color: var(--text-muted);
}

/* icon colors */
.fa-heart,
.fa-heart-o,
.like-counter,
.fa-camera,
.fa-video-camera,
.fa-volume-up,
.fa-edit,
.fa-comment-o,
.comment-counter,
.fa-trash-o,
.fa-ellipsis-h,
.fa-ellipsis-v {
  color: whitesmoke;
}

.hide {
  display: none;
}

.center {
  margin: 0 auto;
}

.clickable {
  cursor: pointer;
}
