#header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100vw;
}

#content {
  margin-top: 80px;
  height: 90vh;
  overflow-y: auto;
}

.content-details div:first-child {
  display: flex;
}

.profile-pic {
  margin-right: 10px;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}

.post-username {
  font-weight: bold;
  margin-right: 10px;
}

.post-date,
.post-time {
  color: #999999;
  font-size: 95%;
}

.post-media {
  max-width: 50%;
  max-height: 50%;
}

.nav-items {
  display: flex;
}

.nav-item:hover {
  background-color: rgba(100, 119, 119, 0.5);
  color: white;
}

.posts {
  font-size: 1rem;
  width: 70%;
  margin: 10px;
}

.post {
  margin-top: 10px;
}

.comments,
.comment-box {
  margin-left: 30px;
}

.comments {
  margin-top: 10px;
}
.clickable {
  cursor: pointer;
}

.comment-box {
  display: flex;
}

.comment-text-box {
  width: 100%;
}

.post-text-box {
  width: 100%;
}

.text-box {
  border: 2px solid lightseagreen;
  height: 2rem;
  flex-grow: 3;
}

.form {
  width: 25%;
  margin: 0 auto;
}

.create-post-header {
  display: flex;
  justify-content: space-between;
}

.create-post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upload-icons {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 3;
}
