#header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100vw;
}

#content {
  margin-top: 80px;
  height: 90vh;
  overflow-y: auto;
}

.profile-pic {
  margin-right: 10px;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}

.name {
  font-weight: bold;
  margin-right: 10px;
}

.nav-items {
  display: flex;
}

.nav-item:hover {
  background-color: rgba(100, 119, 119, 0.5);
  color: white;
}

.posts {
  font-size: 1rem;
  width: 70%;
}

.post {
  margin: 10px;
}

.comments,
.comment-box {
  margin-left: 30px;
}

.comments {
  margin-top: 10px;
}
.clickable {
  cursor: pointer;
}

.comment-box {
  display: flex;
}

.comment-text-box {
  flex-grow: 3;
}

.text-box {
  border: 2px solid lightseagreen;
  height: 2rem;
  flex-grow: 3;
}

.form {
  width: 25%;
  margin: 0 auto;
}
