.profile-pic {
  margin-right: 10px;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}

.name {
  font-weight: bold;
  margin-right: 10px;
}

.posts {
  width: 60vw;
  margin-left: 40px;
  overflow-y: scroll;
  font-size: 0.8rem;
  /* color: white; */
}

.post {
  margin: 10px;
}

.comments,
.comment-box {
  margin-left: 30px;
}

.comments {
  margin-top: 10px;
}
.clickable {
  cursor: pointer;
}

.comment-box {
  display: flex;
}

.text-box {
  border: 2px solid lightseagreen;
  height: 2rem;
  flex-grow: 3;
}
